.container-heading {
    padding: calc(50vh - 122px) calc(50vw - 170px);
    position: fixed;
    width: 340px;
    height: 244px;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;

    &:before,
    &:after {
        height: 100%;
        width: 100%;
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
    }

    &:before {
        background-image: url("../includes/images/back.png");
        background-position: center;
        background-size: cover;
        z-index: -5;
    }

    &:after {
        background-color: rgba(0, 0, 0, 0.55);
        z-index: -3;
    }

    .container-heading-content {
        font-size: 23px;
        letter-spacing: -1px;
        color: #e9e9e9;
        width: 340px;
        text-align: center;

        h1 {
            font-family: "Amatic SC", sans-serif;
            font-size: 70px;
            letter-spacing: 2px;
            color: burlywood;
            text-shadow: 0 0 10px black;
        }
    }

    .container-heading-avatar {
        position: absolute;
        left: calc(50vw - 320px);

        img {
            width: 150px;
        }
    }

    .github-button {
        height: 25px;
        width: calc(100% - 32px);
        display: block;
        border-color: #46b8da;
        background-color: #5bc0de;
        padding: 10px 16px;
        font-size: 18px;
        font-weight: 400;
        margin: 20px 0 0 0;
        border-radius: 6px;
        color: white !important;
    }

    &:hover {
        background-color: #31b0d5;
        border-color: #269abc;
    }
}

#contact {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: relative;
    max-width: 800px;
    margin: auto;

    &:before {
        background-color: rgb(180, 180, 210);
        box-shadow: 0 0 1px gainsboro;
        height: 1px;
        width: calc(100%);
        display: block;
        position: absolute;
        top: 105px;
        left: 0px;
        content: "";
        z-index: 0;
    }

    .contact-social-block {
        padding: 75px 0;
        z-index: 100;

        img {
            height: 60px;
            border-radius: 50%;

            &:hover {
                margin: -10px;
                height: 80px;
            }
        }
    }

    .contact-profile-block {
        z-index: 100;

        img {
            height: 200px;
            border-radius: 50%;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
    }
}

#skills {
    overflow: auto;

    .skill-group {
        width: calc(50% - 70px);
        float: left;
        padding: 0 35px 30px 35px;

        .skill-title {
            font-family: "Passion One", sans-serif;
            font-size: 30px;
            color: #edc490;
            letter-spacing: 2px;
            margin-bottom: 15px;
        }

        .skill {
            padding: 0 0 10px 20px;
            font-family: "Inconsolata", sans-serif;
            font-size: 20px;
            color: #887474;
            position: relative;

            .skill-rate {
                height: 4px;
                width: 100%;
                border: 1px solid #87e3ff;
                margin-top: 7px;
                border-radius: 2px;
                overflow: hidden;

                div {
                    height: 100%;
                    background-color: #76c5de;
                }

                &.rate {
                    &-1 div { width: 20% }
                    &-2 div { width: 40% }
                    &-3 div { width: 60% }
                    &-4 div { width: 80% }
                    &-5 div { width: 100% }
                }
            }
        }
    }
}

#projects {
    color: #303030;

    ul, ol {
        margin: 0;
    }

    .project {
        font-family: "Lato";
        font-weight: 300;
        font-size: 16px;
        padding-left: 20px;
        line-height: 25px;
        margin-bottom: 20px;
    
        .name {
            font-family: "Source Sans Pro";
            text-transform: uppercase;
            font-weight: 700;
            color: darkcyan;
            font-size: 17px;
            margin-left: -15px;
            width: 100%;
            margin-bottom: -2px;
        }

        .time, .course {
            float: right;
            font-style: italic;
            font-size: 14px;
            color: darkslategrey;
        }
        .time:before {
            content: ", ";
        }

        .supervisor {
            font-variant: small-caps;
            font-weight: 400;
            color: darkslategrey;
            float: left;
        }
    }
}

#experiences {
    color: #303030;

    ul, ol {
        margin: 0;
    }

    .project {
        font-family: "Lato";
        font-weight: 300;
        font-size: 16px;
        padding-left: 20px;
        line-height: 25px;
        margin-bottom: 20px;
    
        .name {
            font-family: "Source Sans Pro";
            text-transform: uppercase;
            font-weight: 700;
            color: darkcyan;
            font-size: 17px;
            margin-left: -15px;
            margin-bottom: -2px;
            float: left;

            .position {
                text-transform: none;
                font-variant: small-caps;
                font-weight: 400;
                display: inline-block;
                padding-left: 10px;
                margin-left: 10px;
                border-left: 1px solid cyan;
            }
        }

        .time {
            float: right;
            font-style: italic;
            font-size: 14px;
            color: darkslategrey;
        }
    }
}

#projects, #experiences {
    .project {
        .objective:before, .approach:before, .tools:before {
            font-weight: 600;
            color: #444444;
        }

        .objective:before {
            content: "Objective: ";
        }
        .approach:before {
            content: "Approach: ";
        }
        .tools:before {
            content: "Tools/Languages:";
            display: block;
        }
    }
}